body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px ;
    height: 50px;
    width: 80%;
}
.header img {
    height: 80px;
    width: 120px;
    margin-left: 150px;
}
.headerlist {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    
    

}

.headerlist li {
    margin: 10px;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 80%;
    height: 400px;
    background-image: url(background3.jpeg);
    background-size: cover;

}

.title {
    color: white;
    font-size: 50px;
    

}

.subtitle {
    margin-top: 30px;
    color: rgb(79, 79, 197);
    font-size: 20px;
}

.input {
    border-radius: 20px;
    background-color:rgb(79, 79, 197);
    color:black;
    height: 30px;
    padding: 2px;
    margin: 20px;
    width: 200px;
    border: 2px solid black;
    
    
}
.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
    
}

#search {
    border-radius: 20px;
    height: 30px;
    width: 80px;

}

.form {
    margin-top: 30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.buttonclicked {
    background-color: rgb(79, 79, 197);
    color: white;
    width: 150px;
    height: 50px;
}

.listcontainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid rgb(79, 79, 197);
    margin-top: 50px;
    width: 400px;
    list-style: none;
    background-image: url(backgroundok.jpg);
    background-size: cover;
    margin-bottom: 30px;
    color: black;
    font-weight: bolder;
    font

    
}
.h3 {
    display: none;
}

.h3-visible {
    color:rgb(79, 79, 197);
    display: inline;
    margin-top: 20px;
}

.result {
    color: black;
    list-style: none;
    margin: 20px;
    font-weight: bold;

}